{% extends "base.html" %}

{% block content %}

<!-- HERO -->

<section class="hero">

<div class="container text-center">

<h1>
Tazas & Pullovers
<span class="amarillo">Personalizados</span>
</h1>

<p>
Diseños exclusivos que expresan tu personalidad. Cada producto es único, como tú.
</p>

<a class="btn hero-btn">
Personaliza el tuyo ahora
</a>

</div>

</section>

<!-- PRODUCTOS -->

<section class="productos">

<div class="container">


<div class="row">
{% if productos %}

    {% for producto in productos %}

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            

        <div class="card producto-card">
            <!-- CAROUSEL -->
            <div id="carousel{{producto.id}}" class="carousel slide">

<div class="carousel-inner">

   {% for img in producto.imagenes.all %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">

            <img src="{{ img.imagen.url }}" class="d-block w-100 product-img">

        </div>
    {% endfor %}

    </div>

    <button class="carousel-control-prev"
    type="button"
    data-bs-target="#carousel{{producto.id}}"
    data-bs-slide="prev">

    <span class="carousel-control-prev-icon"></span>

    </button>
    <button class="carousel-control-next"
type="button"
data-bs-target="#carousel{{producto.id}}"
data-bs-slide="next">

<span class="carousel-control-next-icon"></span>

</button>
</div>


<!-- INFO PRODUCTO -->

<div class="card-body text-center">

<h5 class="card-title">

{{producto.nombre}}

</h5>

<p class="precio">
${{producto.precio}}
</p>
<!-- RATING -->

<div class="rating">

{% for i in "12345" %}

{% if forloop.counter <= producto.rating %}

<span class="estrella">★</span>

{% else %}

<span class="estrella-gris">★</span>

{% endif %}

{% endfor %}

</div>
<!-- BOTON CARRITO -->

<div id="carrito-{{producto.id}}">

<button class="btn btn-carrito"
onclick="agregarProducto('{{producto.id}}')">

🛒 Añadir a la cesta

</button>

</div>


        </div>

        </div>

        </div>

{% endfor %}
{% else %}

        <div class="row">
            <div class="col-md-4">
                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                    No hay resultados
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
{% endif %}
</div>

</div>

<!----------------PAGINATION---------------->
</section>
<div class="d-flex justify-content-center mt-4">

<nav>

<ul class="pagination">

{% if productos.has_previous %}

<li class="page-item">

<a class="page-link"
href="?page={{ productos.previous_page_number }}">

Anterior

</a>

</li>

{% endif %}


{% for num in productos.paginator.page_range %}

<li class="page-item {% if productos.number == num %}active{% endif %}">

<a class="page-link" href="?page={{ num }}">

{{ num }}

</a>

</li>

{% endfor %}


{% if productos.has_next %}

<li class="page-item">

<a class="page-link"
href="?page={{ productos.next_page_number }}">

Siguiente

</a>

</li>

{% endif %}

</ul>

</nav>

</div>
<script id="data-carrito" type="application/json">
{{ carrito|safe }}
</script>

<script>
const URL_AGREGAR_CARRITO = "{% url 'agregar_carrito_ajax' %}";
</script>



{% endblock %}