{% extends "base.html" %}

{% block content %}

<!-- HERO -->

<section class="hero">

<div class="container text-center">

<h1>
Tazas & Pullovers
<span class="amarillo">Personalizados</span>
</h1>

<p>
Diseños exclusivos que expresan tu personalidad. Cada producto es único, como tú.
</p>

<a class="btn hero-btn">
Personaliza el tuyo ahora
</a>

</div>

</section>

<!-- PRODUCTOS -->

<section class="productos">

<div class="container">

<h2 class="text-center mb-5">
Nuestros Productos
</h2>

<div class="row">
{% if productos %}

        {% for producto in productos %}

        <div class="col-md-4 mb-4">

        <div class="card producto-card">

        {% if producto.foto %}
        <img src="{{ producto.foto.url }}" class="card-img-top">
        {% endif %}

        <div class="card-body text-center">

        <h5>{{ producto.nombre }}</h5>

        <p class="precio">
        $ {{ producto.precio }}
        </p>

        <button class="btn btn-carrito"
        onclick="agregarCarrito('{{producto.nombre}}', '{{producto.precio}}')">
        Agregar al carrito
        </button>

</div>

</div>

</div>

{% endfor %}
{% else %}

        <div class="row">
            <div class="col-md-4">
                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                    No hay resultados
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
{% endif %}
</div>

</div>

</section>

{% endblock %}