{% extends "base.html" %}

{% block title %}Productos{% endblock %}

{% block content %}
<h1 class="mb-4">Productos disponibles</h1>

<div class="row">
    {% for producto in productos %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100 shadow-sm">
                {% if producto.imagen %}
                    <img src="{{ producto.imagen.url }}" 
                         class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">${{ producto.precio }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}